# Compiled Object files
*.slo
*.lo
*.o

# Compiled Dynamic libraries
*.so
*.dylib

# Compiled Static libraries
*.lai
*.la
*.a

# Simple IDE stuff
lmm/
xmm-split/

# subversion stuff
*.svn/
tests/.svn/
tests/42tests/.svn/





